*{
  box-sizing: border-box;
}

body{
  margin: 0 ;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

header{
  padding: 10px;
  
}

 header .container {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;

}

.container .right-section{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-right: 50px;
}

.container .left-section{
  display: flex;
  align-content: center;
  
}

 .left-section img{
  width: 50px;
  height: 50px;
}

  .left-section nav a{
  text-decoration: none;
  margin-left: 80px;
  padding: 90px 0px;
  
}

.input-group input{
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 30px ;

}

/* Section1 start */


.section1{
  display: flex;
  justify-content: space-between;
  background-color: rgb(8, 46, 8);
  margin: 20px 0px;
  padding: 12px 0px;
}

.section1 h1{
  margin-left: 80px;
  color: white;
}
 
.button1 button{
  margin-top: 25px;
  margin-right: 50px;
  background-color: rgb(2, 44, 2);
  border-color: 5px solid white;
  border-radius: 15px;
  padding: 5px 15px;
  color: white;
  cursor: pointer;
  border-width: 0px;
}

 
 /* section1 end */

 /* section2 start */

 .section2 .container2 {
  margin: 30px 20px;
  height: 220px;
  background-color: rgb(118, 193, 168);
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
 
 }

.left-section2 nav{
  margin-left:  150px;
  position:absolute;
  top: 0;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  
}
  .section2 .left-section2 img{
  width:100px;
  height: 200px;
  cursor: pointer;
}
.left-section2 a{
 text-decoration: none;
 color: white;
}

 .button2 button{
  margin-top: 150px;
  margin-right: 50px;
  border: non;
  border-radius: 23px;
  background-color:rgb(10, 86, 10) ;
  color: white;
  padding: 15px 70px;
  border-width: 0px;
}

 /* section2 End */

 /* section3 star */

.section3 .container3{
  margin: 30px 20px;
  height: 220px;
  background: linear-gradient(rgb(74, 71, 71),rgb(50, 47, 47)),url("./blackwhite.jpg");
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

.container3 .left-section3 img{
  width:100px;
  height: 200px;
  cursor: pointer;
}

.left-section3 nav {
 margin-left: 150px;
 position:absolute;
 top: 0;
 margin-top: 550px;
 display: flex;
 flex-direction: column;
}
.left-section3 a{
  text-decoration: none;
  color: white;
}

.button3 button{
  margin-top: 150px;
  margin-right: 50px;
  border: non;
  border-radius: 23px;
  background-color:white ;
  color:black;
  padding: 15px 70px;
  border-width: 0px;
  
}

/* section3 End */

/* section4 start */

.section4 .container4{
  margin: 30px 20px;
  height: 220px;
  background-color: rgb(18, 121, 87);
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 30px 1px;
 
}

.container4 .left-section4 img{
  width:100px;
  height: 200px;
  cursor: pointer;
}

.left-section4 .top{
  margin-left: 150px;
  position:absolute;
  top: 0;
  margin-top: 800px;
  display: flex;
  flex-direction: column;
}

.left-section4 .bottom{
  margin-left: 150px;
  position:absolute;
  top: 0;
  margin-top: 930px;
  display: flex;
  flex-direction: column;
}

.left-section4 a{
  text-decoration: none;
  color: white;
  font-size: small;
}

  .button4 button{
  margin-top: 100px;
  margin-right: 50px;
  border-radius: 23px;
  background-color:rgb(35, 109, 73) ;
  color:white;
  padding: 15px 70px;
  border: non;
  border-width: 0px;
}

/* section4 end */

/* section5 star */


 .arrow1 p{
  margin-left: 30px;
  font-size:40px ;
  font-weight: 20;
  
}

 .container5 h1{
  margin-left: 30px;
  font-weight: 200;
 }

  .round-images  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
  .card-container h5{
   text-align: center;
 }

 .image-container img{
  width:100px;
  height: 100px;
  border-radius: 80%;
  cursor: pointer;
 }
 /* section5 end */

 /* section6 start */

 .section6  {
  width: 100%;
  height: 230vh;
  background-color: rgb(221, 219, 219);
 
 }
  
  .content .cont1{
  display: flex;
  justify-content: space-between;
  
 }
  .left-section6 h2{
  margin-top:50px ;
  margin-left: 40px;
  font-size: 25px;
  font-weight: 100;
}

 .content .right-section6{
  display: flex;
 }
  .right-section6 img{
  width: 80px;
  height: 70px;
 }
 .right-section6 h6{
  color: green;
  cursor: pointer;
  margin-top: 50px;
  font-size: 12px;
  font-weight: 100;
 }
 .container6 .set1{
  margin: 30px 70px;
  padding: 10px 30px;
  height: 30vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
 
 }
  
 .set1 .left-section6 .one{
 display: flex;
 flex-direction: column;
 }
 .set1 .left-section6 .one a{
  text-decoration: none;
  margin-top: 20px;
  font-weight: bold;
  color: black;
 }
 .set1 .left-section6 .one img{
  width: 80px;
  height: 70px;
  border-radius: 8px;
 }
 .left-section6{
  display: flex;
 }
 a {
  text-decoration: none;;
 }
 .set1 .left-section6 .two{
 margin-top: 25px;
 margin-left: 20px;
 }
 .vegimg{
  height: 16px;
  width: 16px;
 }

 .additembutton{
  width: 96px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  color: #fff;
  background-color: #00754a;
  border-width: 0px;
  border-radius: 25px;
  margin-top: 100px;
 }

 .additembutton:hover{
  background-color: #1e3932;
 }
 .n-w{
  color: gray;
  font-weight: 100;
  font-size: 10px;
 }
 .n{
  color: black;
  font-size:15px ;
 }

 footer{
 width: 100%;
 height: 20vh;
  background-color: rgb(2, 47, 2);
  display: flex;
  justify-content: space-between;
  
 }
 span{
  color: white;
  font-size: 10px;
  font-weight: 50;
  margin: 20px 50px;
 }